services:
  db:
    image: postgres:12 
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: username
      POSTGRES_PASSWORD: strong_password
      POSTGRES_DB: database_name
      PGDATA: /var/lib/postgresql/data/pgdata
      TZ: Asia/Ho_Chi_Minh
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U username -d database_name"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - erp_network

  redis:
    image: redis:7-alpine
    container_name: redis_cache
    restart: always
    command: redis-server --appendonly yes --requirepass ${REDIS_PASSWORD:-}
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
    networks:
      - erp_network
    environment:
      TZ: Asia/Ho_Chi_Minh

volumes:
  postgres_data:
  redis_data:

networks:
  erp_network:
    driver: bridge